---
---

$color-primary: rgba(0,0,0,0.5);
$color-primary-hover: rgba(255, 255, 255, 1);
$white-text: rgba(255, 255, 255, 1);
$white-text-hover: rgba(20, 255, 200, 1);

$widthLevelZero: 410px;
$widthLevelOneLower: 411px;
$widthLevelOneHigher: 767px;
$widthLevelTwoLower: 768px;
$widthLevelTwoHigher: 989px;
$widthLevelThreeLower: 990px;
$widthLevelThreeHigher: 1199px;
$widthLevelFour: 1199px;
$widthLevelFive: 1600px;

@mixin widthLevel00 {
  @media (max-width: $widthLevelZero) { @content; }
}

@mixin widthLevel01 {
  @media (min-width:$widthLevelOneLower) and (max-width:$widthLevelOneHigher)  { @content; }
}

@mixin widthLevel02 {
  @media (min-width:$widthLevelTwoLower) and (max-width:$widthLevelTwoHigher) { @content; }
}
@mixin widthLevel03 {
  @media (min-width:$widthLevelThreeLower) and (max-width:$widthLevelThreeHigher) { @content; }
}

@mixin widthLevel04 {
  @media (min-width: $widthLevelFour) { @content; }
}

@mixin widthLevel05 {
  @media (min-width: $widthLevelFive) { @content; }
}

/* get away the dotted lines in moz */
input::-moz-focus-inner {
  border: 0 !important;
	outline: none !important;
}
a:active {
  outline: none !important;
  border: 0 !important;
}
a {

outline: medium none !important;
}
button:active {
  outline: none !important;
  border: 0 !important;
}
button {
  outline: medium none !important;
}

.navigation-container {
  z-index: 999;
  min-width: 100vw;
  width: 100vw;
  display: flex;
  position: fixed;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(0,0,0,0.2);
}

.navigation-Sub-Container {

  align-self: center;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;

  @include widthLevel00 { min-width: 310px; width: 310px; max-width: 310px; min-height: 100px; font-size: 20px;}
  @include widthLevel01 { min-width: 400px; width: 400px; max-width: 400px; min-height: 100px; font-size: 20px;}
  @include widthLevel02 { min-width: 700px; width: 700px; max-width: 700px; min-height: 100px; font-size: 20px;}
  @include widthLevel03 { min-width: 760px; width: 760px; max-width: 760px; min-height: 100px; font-size: 20px;}
  @include widthLevel04 { min-width: 800px; width: 800px; max-width: 800px; min-height: 100px; font-size: 20px;}
  @include widthLevel05 { min-width: 1200px ; width: 1200px ; max-width: 1200px ; min-height: 100px; font-size: 36px;}

}

.nav-element {

  @include widthLevel00 {  display: none !important; }

}



.nav-element a {
  margin: 10px;
  transition: all 1s;
  &:hover {
    cursor: pointer;
    color: $color-primary-hover;
  }

  text-decoration: none;
  text-transform: uppercase;
  color: $color-primary;

  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  justify-content: space-between;

    user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;

  position: relative;

    &:visited {
        color: $white-text;
    } // hover animation
    &:before {
        margin-top: 5px;
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0;

        left: 0;
        background-color: $white-text;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    &:hover:before {
        visibility: visible;
        transform: scaleX(1);

}
}
