<div class="navigation-container">
  <div class="navigation-sub-container">
      <div class="nav-element"><a href="#">Home</a></div>
      <div class="nav-element" id="tours"><a href="#">Tours<div id="rotate">></div></a></div>
      <div class="nav-element"><a href="#">About My</a></div>
      <div class="nav-element"><a href="#">Contact</a></div>
      <div class="nav-element"><a href="#">Gallery</a></div>
 </div>
</div>

<div class="navigation-tours-container">
  <div class="navigation-tours-sub-container">
    <div class="nav-tours-element"><a href="#">1 Day Tour</a></div>
    <div class="nav-tours-element"><a href="#">2 Days Tour</a></div>
    <div class="nav-tours-element"><a href="#">4 Days Tour</a></div>
    <div class="nav-tours-element"><a href="#">7 Days Tour</a></div>
    <div class="nav-tours-element"><a href="#">9 Days Tour</a></div>

  </div>
</div>

<div class="navigation-mobile-container">

    <div id="initiate" class="item-burger item-transition item-b color-button myRipple">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </div>

    <div class="nav-element-mobile">Easy Rider Mister My</div>

</div>
