<div class="navigation-container">
  <div class="navigation-sub-container">
      <div class="nav-element"><a href="#">Home</a></div>
      <div class="nav-element" id="tours"><a href="#">Tours (coming soon)<div id="rotate">></div></a></div>
      <div class="nav-element"><a href="#About">About My</a></div>
      <!-- <div class="nav-element"><a href="#">Contact</a></div> -->
      <!-- <div class="nav-element"><a href="#">Gallery</a></div> -->
      <!-- <div class="nav-element"><a href="#">Guestbook</a></div> -->
 </div>
</div>

<div class="navigation-tours-container">
  <div class="navigation-tours-sub-container">
    <div class="nav-tours-element"><a href="#">1 Day Tour</a></div>
    <div class="nav-tours-element"><a href="#">2 Days Tour</a></div>
    <div class="nav-tours-element"><a href="#">4 Days Tour</a></div>
    <div class="nav-tours-element"><a href="#">7 Days Tour</a></div>
    <div class="nav-tours-element"><a href="#">9 Days Tour</a></div>

  </div>
</div>

<div class="navigation-mobile-container">

    <div id="initiate" class="item-burger item-transition item-b color-button myRipple">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </div>

    <div class="nav-element-mobile">Easy Rider Mister My</div>

</div>

<div class="slider">
  <div class="slider-sub-container">
    <div class="slider-nav-element-primary"><a href="#">Home</a></div>
    <div class="slider-nav-element-primary"><a href="#">Tours (comming soon)</a></div>
    <!-- <div class="slider-nav-element-secondary"><a href="#">1 Day Tour</a></div>
    <div class="slider-nav-element-secondary"><a href="#">2 Day Tour</a></div>
    <div class="slider-nav-element-secondary"><a href="#">4 Day Tour</a></div>
    <div class="slider-nav-element-secondary"><a href="#">7 Day Tour</a></div>
    <div class="slider-nav-element-secondary"><a href="#">9 Day Tour</a></div> -->
    <div class="slider-nav-element-primary"><a href="#About">About My</a></div>
    <!-- <div class="slider-nav-element-primary"><a href="#">Contact</a></div>
    <div class="slider-nav-element-primary"><a href="#">Gallery</a></div>
    <div class="slider-nav-element-primary"><a href="#">Guestbook</a></div> -->
  </div>
</div>

<div class="slider-background"></div>
