


<div class="wrapper">

  <div class="item">
    <div class="polaroid"><img src="../img/My.png">
      <div class="caption">Mister My</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic01.jpeg" onclick=triggerModal("../img/gallery/pic01.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic02.jpeg" onclick=triggerModal("../img/gallery/pic02.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic03.jpeg" onclick=triggerModal("../img/gallery/pic03.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic04.jpeg" onclick=triggerModal("../img/gallery/pic04.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

</div>

<div class="main">

   <div class="container">

    <div class="post">

      <h2>How to know about every nook and cranny of Vietnam, not just to be the so-called “tourists”?</h2>

      <p>


How to not only see but also try the life of various indigenous peoples? To smile and socialize with the ethnic minorities?
How to try all the regional specialities?
How to set foot on famous breath-taking landscapes of Vietnam? Waterfalls? Mountains? Rice paddies? Ancient villages?
Or how to have a competent Tour Guide in whom your trust can lead you to different areas of knowledge: Vietnam History, Geography, Cultures, Manners?

You can surely find the answer with Mr. My. Having been a Tour Guide and Easy-rider for almost 20 years, not only can he bring to you thrilling and exciting experiences in the nature and local places, but he is also humorous, reliable, enthusiastic and responsible.
This jolly man loves laughing and making jokes. But oops, he is a Google at hand. You can ask all about Vietnam to get satisfactory answers. He smiles when he can see the smiles on your face.
Easy-riding with Mr. My brings not only experiences but also knowledge about Vietnam, and you will be the ones who find these memories unforgettable. Find out more about Easy-riding and Vietnam on this website and contact anhmydng@gmail.com or add me on Facebook (My Nguyen Anh) - it is with his pleasure that he serves you to the best.
He picks you up anywhere you are in Vietnam. If you are in Danang, he will pick you for no money.
</p>
    </div> <!-- end post -->

  </div> <!-- end container -->

</div> <!-- end main -->


<div class="wrapper">

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic05.jpeg" onclick=triggerModal("../img/gallery/pic05.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic06.jpeg" onclick=triggerModal("../img/gallery/pic06.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic07.jpeg" onclick=triggerModal("../img/gallery/pic07.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic08.jpeg" onclick=triggerModal("../img/gallery/pic08.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

</div>



<div class="main">

   <div class="container">

    <div class="post">

      <h2>About My</h2>

      <p>

        Hello, I am Mister My – Easy Rider (Vietnamese name: My Nguyen Anh) from Da Nang in Vietnam. Since 1999, I have been an Easy Rider and showing foreigners the exciting sites of Vietnam far away from mass tourism. I live in Da Nang, but I spend a lot of my time on the roads across the regions of Vietnam. With me, you can discover Vietnam’s beautiful countryside and nature, get to know a lot about Vietnamese people, food, plants, and history – all these on the back of the humming machine of a motorbike!
        I love to introduce interested travellers to the Vietnamese culture and show them the best spots of the Vietnamese highlands, like hidden waterfalls, hanging bridges, minority villages, wild animals, the best local street food and much more.
        To me, the first priority is the customers- you. Their safety, satisfaction and cheers matter to me the most.
        If you want to discover the real Vietnam with me, write me an E–Mail on anhmydng@gmail.com or add me on Facebook (My Nguyen Anh). I'm looking really forward to showing you around! Be a traveller, not a tourist.

</p>
    </div> <!-- end post -->

  </div> <!-- end container -->

</div> <!-- end main -->




<div class="wrapper">

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic09.jpeg" onclick=triggerModal("../img/gallery/pic09.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic10.jpeg" onclick=triggerModal("../img/gallery/pic10.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic11.jpeg" onclick=triggerModal("../img/gallery/pic11.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic12.jpeg" onclick=triggerModal("../img/gallery/pic12.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

</div>



<div class="main">

   <div class="container">

    <div class="post">

      <h2>How to know about every nook and cranny of Vietnam, not just to be the so-called “tourists”?</h2>

      <p>


How to not only see but also try the life of various indigenous peoples? To smile and socialize with the ethnic minorities?
How to try all the regional specialities?
How to set foot on famous breath-taking landscapes of Vietnam? Waterfalls? Mountains? Rice paddies? Ancient villages?
Or how to have a competent Tour Guide in whom your trust can lead you to different areas of knowledge: Vietnam History, Geography, Cultures, Manners?

You can surely find the answer with Mr. My. Having been a Tour Guide and Easy-rider for almost 20 years, not only can he bring to you thrilling and exciting experiences in the nature and local places, but he is also humorous, reliable, enthusiastic and responsible.
This jolly man loves laughing and making jokes. But oops, he is a Google at hand. You can ask all about Vietnam to get satisfactory answers. He smiles when he can see the smiles on your face.
Easy-riding with Mr. My brings not only experiences but also knowledge about Vietnam, and you will be the ones who find these memories unforgettable. Find out more about Easy-riding and Vietnam on this website and contact anhmydng@gmail.com or add me on Facebook (My Nguyen Anh) - it is with his pleasure that he serves you to the best.
He picks you up anywhere you are in Vietnam. If you are in Danang, he will pick you for no money.
</p>
    </div> <!-- end post -->

  </div> <!-- end container -->

</div> <!-- end main -->


<div class="wrapper">

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic13.jpeg" onclick=triggerModal("../img/gallery/pic13.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic14.jpeg" onclick=triggerModal("../img/gallery/pic14.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic15.jpeg" onclick=triggerModal("../img/gallery/pic15.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic16.jpeg" onclick=triggerModal("../img/gallery/pic16.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

</div>



<div class="main">

   <div class="container">

    <div class="post">

      <h2>How to know about every nook and cranny of Vietnam, not just to be the so-called “tourists”?</h2>

      <p>


How to not only see but also try the life of various indigenous peoples? To smile and socialize with the ethnic minorities?
How to try all the regional specialities?
How to set foot on famous breath-taking landscapes of Vietnam? Waterfalls? Mountains? Rice paddies? Ancient villages?
Or how to have a competent Tour Guide in whom your trust can lead you to different areas of knowledge: Vietnam History, Geography, Cultures, Manners?

You can surely find the answer with Mr. My. Having been a Tour Guide and Easy-rider for almost 20 years, not only can he bring to you thrilling and exciting experiences in the nature and local places, but he is also humorous, reliable, enthusiastic and responsible.
This jolly man loves laughing and making jokes. But oops, he is a Google at hand. You can ask all about Vietnam to get satisfactory answers. He smiles when he can see the smiles on your face.
Easy-riding with Mr. My brings not only experiences but also knowledge about Vietnam, and you will be the ones who find these memories unforgettable. Find out more about Easy-riding and Vietnam on this website and contact anhmydng@gmail.com or add me on Facebook (My Nguyen Anh) - it is with his pleasure that he serves you to the best.
He picks you up anywhere you are in Vietnam. If you are in Danang, he will pick you for no money.
</p>
    </div> <!-- end post -->

  </div> <!-- end container -->

</div> <!-- end main -->



<div class="wrapper">

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic17.jpeg" onclick=triggerModal("../img/gallery/pic17.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic18.jpeg" onclick=triggerModal("../img/gallery/pic18.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="../img/gallery/pic19.jpeg" onclick=triggerModal("../img/gallery/pic19.jpeg") >
      <div class="caption">-</div>
    </div>
  </div>

</div>
