<!DOCTYPE html>
<html id="no-fouc" lang="en" class="no-js">

<!--  Setting Parameter -->

{% include head.html %}


{% include navigation.html %}

<body>


{% include javascripts.html %}


  </body>




      <main>

          {{ content }}

          <!-- Modal for Images -->
          <div id="myModal" class="modal">

            <img class="modal-content-Custom" id="img01">
            <div id="caption"></div>
          </div>

      </main>


      <footer>

      </footer>

  </body>
</html>
