<!DOCTYPE html>
<html id="no-fouc" lang="en" class="no-js">

<!--  Setting Parameter -->

{% include head.html %}

{% include navigation.html %}



<body>


      <main>

          {{ content }}

          <!-- Modal for Images -->
          <div id="myModal" class="modal">

            <img class="modal-content-Custom" id="img01">
            <div id="caption"></div>
          </div>

      </main>


      <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>
      <script>
        var image = document.getElementsByClassName('thumbnail');
        new simpleParallax(image, {
    	     scale: 1.2
       });
       </script>


       <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
       <script src="{{site.baseurl}}/js/main.js" async></script>
       <script src="{{site.baseurl}}/js/modal.js" async></script>



</body>


      <footer>

      </footer>

  </body>
</html>
